@model Klinik.Entities.ProductInGudang.ProductInGudangModel

@{
    ViewBag.Title = "CreateOrEditProductInGudang";
}

<section class="panel">
    <form class="form-horizontal form-bordered" method="post" action="/MasterData/CreateOrEditProductInGudang">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>
            <h5 class="panel-title">Form @ViewBag.ActionType Gudang</h5>
        </header>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.ProductName</label>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.Id)
                    @Html.DropDownListFor(p => p.ProductId, (IEnumerable<SelectListItem>)ViewBag.ProductList, new { @class = "form-control", @id = "ProductId" })
                    @Html.ValidationMessageFor(m => m.ProductId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.GudangName</label>
                <div class="col-md-4">
                    @Html.DropDownListFor(p => p.GudangId, (IEnumerable<SelectListItem>)ViewBag.GudangList, new { @class = "form-control", @id = "ProductId" })
                    @Html.ValidationMessageFor(m => m.ProductId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.Stock</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.stock, new { @class = "form-control", @id = "stock" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">Limit Stock</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.limited_stock, new { @class = "form-control", @id = "limited_stock" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">Retail Price</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.RetailPrice, new { @class = "form-control", @value = Convert.ToInt32(Model.RetailPrice), @id = "RetailPrice" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">@Klinik.Resources.UIMessages.Save</button>
            <button type="reset" id="btnreset" class="btn btn-default">@Klinik.Resources.UIMessages.Back</button>
        </div>
    </form>
</section>

@section Scripts {
    <script src="~/js/Custom.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#btnreset').click(function (e) {
            window.location.href = "/MasterData/ProductInGudangList";
        });

        toastr.options = {
            "closeButton": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "0",
            "hideDuration": "0",
            "timeOut": "2000",
            "showMethod": "fadeIn"
        };

        var _temp="@ViewBag.Response";
        var _arrMsg = _temp.split(";");

        if (_arrMsg.length > 1) {
            if (_arrMsg[0] == "True") {
                toastr.success(_arrMsg[1]);
            }
            else {
                toastr.options.closeButton = true;
                toastr.options.timeOut = 0;
                toastr.error(_arrMsg[1]);
            }
        }
    });

    </script>
}
