@model Klinik.Web.Models.MasterData.PrivilegeModel

@{
    ViewBag.Title = "CreateOrEditPrivilege";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h5 class="panel-title">Form Tambah Privilege</h5>
    </header>
    <div class="panel-body">
        <form class="form-horizontal form-bordered" method="post" action="/MasterData/CreateOrEditPrivilege">
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">Privilege</label>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.Id)
                    @Html.TextBoxFor(x => x.Privilige_Name, new { @class = "form-control", @id = "tbPrivilege" })
                    @Html.ValidationMessageFor(m => m.Privilige_Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">Description</label>
                <div class="col-md-4">
                    @Html.TextAreaFor(x => x.Privilege_Desc, new { @class = "form-control", @id = "tbDesc" })
                    @Html.ValidationMessageFor(m => m.Privilege_Desc, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <footer class="panel-footer">
                <button type="submit" class="btn btn-primary">Simpan </button>
                <button type="reset" id="btnreset" class="btn btn-default">Kembali</button>
            </footer>
        </form>
    </div>
</section>

<script type="text/javascript">
    function clearFields() {
        $('#tbPrivilege').val('');
        $('#tbDesc').val('');
    }
    $(document).ready(function () {
        $('#btnreset').click(function (e) {
            window.location.href = "/MasterData/PrivilegeList";
        });

   
    var _status, _message, _temp;
    var _arrMsg = [];

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "0",
            "hideDuration": "0",
            "timeOut": "0",
            "showMethod": "fadeIn"
        };

    _temp="@ViewBag.Response";

    _arrMsg = _temp.split(";");

    if (_arrMsg[0] == "SUCCESS") {
        toastr.success(_arrMsg[1]);
        clearFields();
    }
    else if (_arrMsg[0] == "ERROR") {
        toastr.error(_arrMsg[1]);
    }
    });

</script>
