﻿@model Klinik.Entities.MasterData.LookUpCategoryModel
@{
    ViewBag.Title = "CreateOrEditLookUpCategory";
}
<section class="panel">
    <form class="form-horizontal form-bordered" method="post" action="/MasterData/CreateOrEditLookUpCategory">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>
            <h5 class="panel-title">Form @ViewBag.ActionType Lookup Category</h5>
        </header>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.LookUpCode</label>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.Id)
                    @Html.TextBoxFor(x => x.LookUpCode, new { @class = "form-control", @id = "tbCode" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.LookUpName</label>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.Id)
                    @Html.TextBoxFor(x => x.LookUpName, new { @class = "form-control", @id = "tbCode" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.LookUpContent</label>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.Id)
                    @Html.TextBoxFor(x => x.LookUpContent, new { @class = "form-control", @id = "tbCode" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">@Klinik.Resources.UIMessages.Save</button>
            <button type="reset" id="btnreset" class="btn btn-default">@Klinik.Resources.UIMessages.Back</button>
        </div>
    </form>
</section>
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#btnreset').click(function (e) {
            window.location.href = "/MasterData/LookUpCategoryList";
        });

        toastr.options = {
            "closeButton": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "0",
            "hideDuration": "0",
            "timeOut": "2000",
            "showMethod": "fadeIn"
        };

        var _temp="@ViewBag.Response";
        var _arrMsg = _temp.split(";");

        if (_arrMsg.length > 1) {
            if (_arrMsg[0] == "True") {
                toastr.success(_arrMsg[1]);
            }
            else {
                toastr.options.closeButton = true;
                toastr.options.timeOut = 0;
                toastr.error(_arrMsg[1]);
            }
        }
    });

    </script>
}
