@model Klinik.Entities.MasterData.PoliModel
@using Klinik.Entities.Account;
@{
    ViewBag.Title = "PoliList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AccountModel account = (AccountModel)Session["UserLogon"];
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <label>Filter : </label>
            @{
                if (ViewBag.ClinicID <= 0)
                {
                    <select class="from-control" name="clinicid" id="clinicid"></select>
                }
                else
                {
                    <input type="text" value="@ViewBag.ClinicID" id="clinicid" class="hidden" />
                }
            }
        </div>
        <h5 class="panel-title">
            @Klinik.Resources.UIMessages.PoliList
            @{
                if (account.ClinicID <= 0)
                {
                    <a href="/MasterData/CreateOrEditPoli" id="btnAdd"><i class="fa fa-plus-square"></i></a>

                }
            }
        </h5>
    </header>
    <div class="panel-body">
        <div style="width:100%; margin:0 auto">
            <table id="tbPoli" class="table table-striped table-bordered dt-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Klinik.Resources.UIMessages.ID</th>

                        <th>@Klinik.Resources.UIMessages.Code</th>
                        <th>@Klinik.Resources.UIMessages.Name</th>
                        @{ if (account.ClinicID <= 0)
                            {
                                <
                                <th style="width:45px"></th>
                            }
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        var Site = {
            init: function () {
                Site.Add();
                Site.ListData();
                Site.DropDownClinic();
                Site.OnchageClinic();

            },
            DropDownClinic: function () {
                $.get("/MasterData/getClinicData", function (data) {
                    $.each(data.data, function (key, value) {
                        $('#clinicid').append('<option value="' + value.Value + '">' + value.Text + '</option>');
                    });
                });
            },
            Add: function() {
                $('#btnAdd').click(function (e) {
                    window.location.href = "/MasterData/CreateOrEditPoli";
                });
            },
            ListData: function () {

                $('#tbPoli').dataTable({
                "autoWidth": false,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "pageLength": 10,
                "ajax": {
                    "url": "/MasterData/GetPoliData?clinicid=" + $('#clinicid').val(),
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": [1],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [2],
                    "searchable": true,
                    "orderable": true
                        },
                {
                    "targets": [3],
                    "searchable": true,
                    "orderable": true
                    }
                ],
            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": false },
                
                { "data": "Code", "name": "Code", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) {
                        if (@account.ClinicID <= 0) {return '<a href="/MasterData/CreateOrEditPoli?id=' + full.Id + '"><i class="fa fa-pencil"></i></a>  ' + ' <a href="#" onclick="Delete(' + full['Id'] + ')"><i class="fa fa-trash"></i></a>  '

                        } else {
                            return null;
                        }
                    }
                },

                
            ]
        });

        var _status, _message, _temp;
        var _arrMsg = [];
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "0",
            "hideDuration": "0",
            "timeOut": "0",
            "showMethod": "fadeIn"
        };
            },
            OnchageClinic: function () {
                $('#clinicid').change(function () {
                    //var aa = $.post("/MasterData/GetPoliData?clinicid=" + $('#clinicid').val());
                    var table = $('#tbPoli').DataTable();

                    table.ajax.url('/MasterData/GetPoliData?clinicid=' + $('#clinicid').val()).load();
                });
            },
        }
        $(document).ready(function () {
            Site.init();
        });
        var Delete = function (ID) {
            var r = confirm("@Klinik.Resources.UIMessages.DeleteConfirmation" + ID + " ) ?");
            if (r == true) {
                DeleteRole(ID);
            }
            return false;
        }
                function DeleteRole(Id) {
                    $.ajax({
                        url: '/MasterData/DeleteMasterPoli?id=' + Id,
                        type: 'POST',
                        success: function (result) {
                            if (result.Status) {
                                toastr.options.closeButton = false;
                                toastr.options.timeOut = 2000;
                                location.reload();
                                toastr.success(result.Message);
                            }
                            else {
                                toastr.error(result.Message);
                            }
                        }
                    });
                }
    </script>
}