@model Klinik.Entities.PreExamine.PreExamineModel

@{
    ViewBag.Title = "CreateOrEditPreExamine";
}

<div class="col-md-12">
    <form class="form-horizontal form-bordered" method="post" action="/PreExamine/CreateOrEditPreExamine">
        <section class="panel">
            <div>

            </div>
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                </div>
                <div>
                    <h5 class="panel-title">
                        @Klinik.Resources.UIMessages.FormPreExamine
                    </h5>
                </div>
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.FormMedical</label>
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.LoketData.Id)
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.FormMedicalID, new { @class = "form-control", @id = "tbFormMedical", @readonly = "readonly" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.TransactionDate</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.strTransDate, new { @class = "form-control", @id = "tbTransDate", @readonly="readonly" })
                    </div>
                    <label class="col-md-1 control-label " for="inputDefault" style="text-align:left">
                        @Klinik.Resources.UIMessages.Doctor
                    </label>
                    <div class="col-md-3">
                        @Html.DropDownListFor(p => p.DoctorID, (IEnumerable<SelectListItem>)ViewBag.Doctors, new { @class = "form-control", @id = "ddldoctor" })
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.Temperature</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.Temperature, new { @class = "form-control", @id = "tbTemperature" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.Weight</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.Weight, new { @class = "form-control", @id = "tbWeight" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault">
                        @Klinik.Resources.UIMessages.Height
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.Height, new { @class = "form-control", @id = "tbHeight" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.Respiratory</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.Respiratory, new { @class = "form-control", @id = "tbRespiratory" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.Diastolic</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.Diastolic, new { @class = "form-control", @id = "tbDiastolic" })
                    </div>

                    <label class="col-md-1 control-label" for="inputDefault">
                        @Klinik.Resources.UIMessages.Systolic
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.Systolic, new { @class = "form-control", @id = "tbSystolic" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault" id="lblNomor">
                        @Klinik.Resources.UIMessages.DailyGlasses
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.DailyGlasses, new { @class = "form-control", @id = "tbDailyGlasses" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.Pulse</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.Pulse, new { @class = "form-control", @id = "tbPulse" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.LeftEye</label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.LeftEye, new { @class = "form-control", @id = "tbLeftEye" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault">
                        @Klinik.Resources.UIMessages.RightEye
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.RightEye, new { @class = "form-control", @id = "tbRightEye" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault" id="lblNomor">
                        @Klinik.Resources.UIMessages.ExamineGlasses
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.ExamineGlasses, new { @class = "form-control", @id = "tbExamineGlasses" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" for="inputDefault">@Klinik.Resources.UIMessages.Others</label>
                    <div class="col-md-5">
                        @Html.TextAreaFor(x => x.Others, new { @class = "form-control", @id = "tbOthers" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault">
                        @Klinik.Resources.UIMessages.MenstrualDate
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.strMenstrualDate, new { @class = "form-control", @id = "tbMenstrualDate" })
                    </div>
                    <label class="col-md-1 control-label" for="inputDefault" id="lblNomor">
                        @Klinik.Resources.UIMessages.KBDate
                    </label>
                    <div class="col-md-2">
                        @Html.TextBoxFor(x => x.strKBDate, new { @class = "form-control", @id = "tbKBDate" })
                    </div>
                 
                </div>
            </div>
            <footer class="panel-footer">
                <button type="submit" class="btn btn-primary">@Klinik.Resources.UIMessages.Save</button>
                <button type="button" id="btnreset" class="btn btn-default">@Klinik.Resources.UIMessages.Back</button>
            </footer>
        </section>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnreset').click(function (e) {
            window.location.href="@Url.Action("ListQueue", "PreExamine")";
        })
        $('#ddldoctor').select2();
        $('#tbTransDate').datepicker({
            format: "dd/mm/yyyy",
            changeMonth: true,
            changeYear: true
        });
        $('#tbMenstrualDate').datepicker({
            format: "dd/mm/yyyy",
            changeMonth: true,
            changeYear: true
        });
        $('#tbKBDate').datepicker({
            format: "dd/mm/yyyy",
            changeMonth: true,
            changeYear: true
        });

         var _status, _message, _temp;
    var _arrMsg = [];
    toastr.options = {
        "closeButton": true,
        "positionClass": "toast-top-full-width",
        "onclick": null,
        "showDuration": "0",
        "hideDuration": "0",
        "timeOut": "0",
        "showMethod": "fadeIn"
    };

    var _temp = "@ViewBag.Response";
        var _arrMsg = _temp.split(";");

        if (_arrMsg.length > 1) {
            if (_arrMsg[0] == "True") {
                toastr.success(_arrMsg[1]);
            }
            else {
                toastr.options.closeButton = true;
                toastr.options.timeOut = 0;
                toastr.error(_arrMsg[1]);
            }
        }
    });
</script>

