@model Klinik.Entities.Loket.LoketModel

@{
    ViewBag.Title = "ListQueue";
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h5 class="panel-title">
            @Klinik.Resources.UIMessages.QueuePoli
        </h5>
    </header>

    <div class="panel-body">
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.PoliTo</label>
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.PoliToID, (IEnumerable<SelectListItem>)ViewBag.PoliSelection, new { @class = "form-control", @id = "ddlPoliTo" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.AlreadyPreExamine</label>
            <div class="col-md-4">
                @Html.DropDownListFor(x => x.strIsPreExamine, (IEnumerable<SelectListItem>)ViewBag.AlreadyPreExamine, new { @class = "form-control", @id = "ddlPreExamine" })
            </div>
        </div>
        <div style="width:100%; margin:0 auto">
            <table id="tbQueuePoli" class="table table-striped table-bordered dt-responsive" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Klinik.Resources.UIMessages.ID</th>
                        <th>@Klinik.Resources.UIMessages.Clinic</th>
                        <th>@Klinik.Resources.UIMessages.Patient</th>
                        <th>@Klinik.Resources.UIMessages.Doctor</th>
                        <th>@Klinik.Resources.UIMessages.TransactionDate</th>
                        <th>@Klinik.Resources.UIMessages.RegistrationType</th>
                        <th>@Klinik.Resources.UIMessages.PoliFrom</th>
                        <th>@Klinik.Resources.UIMessages.PoliTo</th>
                        <th>@Klinik.Resources.UIMessages.AlreadyPreExamine</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
        var table;
    $(document).ready(function () {

        $("#ddlPoliTo").change(function () {
            BindTable();
        });

        $("#ddlPreExamine").change(function () {
            BindTable();
        });

        BindTable();

    });
    var _status, _message, _temp;
    var _arrMsg = [];
    toastr.options = {
        "closeButton": true,
        "positionClass": "toast-top-full-width",
        "onclick": null,
        "showDuration": "0",
        "hideDuration": "0",
        "timeOut": "0",
        "showMethod": "fadeIn"
    };

 

        function BindTable() {
            var _selected = $('#ddlPoliTo').val();
            var _isAlreadyPreExamine = $('#ddlPreExamine').val();
        table = $('#tbQueuePoli').dataTable({
            "autoWidth": false,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "destroy":true,
            "orderMulti": false,
            "pageLength": 10,
            "ajax": {
                "url": "/PreExamine/GetListQueue?poli="+_selected+"&preexamine="+_isAlreadyPreExamine,
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                },
                {
                    "targets": [1],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [2],
                    "searchable": true,
                    "orderable": true
                },
                {
                    "targets": [3],
                    "searchable": true,
                    "orderable": true
                },
                {
                    "targets": [4],
                    "searchable": false,
                    "orderable": true
                },
                {
                    "targets": [5],
                    "searchable": true,
                    "orderable": true
                },
                {
                    "targets": [6],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [7],
                    "searchable": true,
                    "orderable": true
                    },
                    {
                        "targets": [8],
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": [9],
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": [10],
                        "searchable": false,
                        "orderable": false
                    }
                ],
            "columns": [
                { "data": "Id", "name": "Id", "autoWidth": false },
                { "data": "ClinicName", "name": "ClinicName", "autoWidth": true },
                { "data": "PatientName", "name": "PatientName", "autoWidth": true },
                { "data": "DoctorStr", "name": "DoctorStr", "autoWidth": true },
                { "data": "TransactionDateStr", "name": "TransactionDateStr", "autoWidth": true },
                { "data": "TypeStr", "name": "TypeStr", "autoWidth": true },
                { "data": "PoliFromName", "name": "PoliFromName", "autoWidth": true },
                { "data": "PoliToName", "name": "PoliToName", "autoWidth": true },
                { "data": "strIsPreExamine", "name": "strIsPreExamine", "autoWidth": true },

                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-success" href="/PreExamine/CreateOrEditPreExamine?id=' + full.Id + '">@Klinik.Resources.UIMessages.Process</a>'; }
                },

                {
                    "render": function (data, type, full, meta) {
                        if (full.strIsPreExamine == 'Yes') {
                            return ' <a class="btn btn-info" href="/PreExamine/CreateOrEditPreExamine?id=' + full.Id + '">@Klinik.Resources.UIMessages.Edit</a>';
                        }
                        else {
                            return ''
                        }
                    }
                }
            ]
           
            });
            table.destroy();
        }
    </script>
}

