@model Klinik.Entities.Registration.RegistrationModel

@{
    ViewBag.Title = "CreateOrEditRegistration";
}

@section Styles {
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h5 class="panel-title">Form @ViewBag.ActionType Registration</h5>
    </header>
    <div class="panel-body">
        <form class="form-horizontal form-bordered" method="post" action="/Registration/CreateOrEditRegistration">
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.PatientName</label>
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.Status)
                @if (((int)ViewBag.ActionType) == 0)
                {
                    <div class="col-md-4">
                        @Html.DatalistFor(x => x.PatientID, new PatientDataList { Url = "/Registration/AllPatient" })
                    </div>
                    <div class="col-md-2">
                        <button type="reset" id="btnNewPatient" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;@Klinik.Resources.UIMessages.NewPatient</button>
                    </div>
                }
                else
                {
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.PatientName, new { @class = "form-control", @id = "tbPoliFrom", @readonly = "readonly" })
                    </div>
                }
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.PoliFrom
                </label>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.PoliFromID)
                    @Html.TextBoxFor(x => x.PoliFromName, new { @class = "form-control", @id = "tbPoliFrom", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.PoliTo
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(p => p.PoliToID, (IEnumerable<SelectListItem>)ViewBag.PoliList, new { @class = "form-control", @id = "ddlpolito" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.Doctor
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(p => p.DoctorID, (IEnumerable<SelectListItem>)ViewBag.DoctorList, new { @class = "form-control", @id = "ddldoctor" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.RegistrationType
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(p => p.Type, (IEnumerable<SelectListItem>)ViewBag.RegistrationTypeList, new { @class = "form-control", @id = "ddltype" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.Remark
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Remark, new { @class = "form-control", @id = "tbRemark" })
                </div>
            </div>
            <br />
            <footer class="panel-footer">
                <button type="submit" class="btn btn-primary">@Klinik.Resources.UIMessages.Save</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">@Klinik.Resources.UIMessages.BackToHome</button>
                <button type="reset" id="btnreset" class="btn btn-default">@Klinik.Resources.UIMessages.Back</button>
            </footer>
        </form>
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/MvcDatalist/mvc-datalist.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('datalist'), function (element) {
            new MvcDatalist(element);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ddlpolito').select2();
            $('#ddldoctor').select2();
            $('#ddltype').select2();

        $('#btnreset').click(function (e) {
             window.location.href = "/Registration/Index";
        });

        $("#PoliToID").change(function () {
            $.get("/Registration/GetDoctorList", { PoliId: $("#PoliToID").val() }, function (data) {
                $("#DoctorID").empty();
                $.each(data, function (index, row) {
                    $("#DoctorID").append('<option value="' + row.ID + '">' + row.Name + '</option>');
                });
            });
        });

        toastr.options = {
            "closeButton": false,
            "positionClass": "toast-top-full-width",
            "onclick": null,
            "showDuration": "0",
            "hideDuration": "0",
            "timeOut": "2000",
            "showMethod": "fadeIn"
        };

        var _temp="@ViewBag.Response";
        var _arrMsg = _temp.split(";");

        if (_arrMsg.length > 1) {
            if (_arrMsg[0] == "True") {
                toastr.success(_arrMsg[1]);
            }
            else {
                toastr.options.closeButton = true;
                toastr.options.timeOut = 0;
                toastr.error(_arrMsg[1]);
            }
        }
    });
    </script>
}
