@model Klinik.Entities.Registration.RegistrationModel

@{
    ViewBag.Title = "CreateOrEditRegistration";
}

@section Styles {
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h5 class="panel-title">Form @ViewBag.ActionType Registration</h5>
    </header>
    <div class="panel-body">
        <form class="form-horizontal form-bordered" method="post" action="/Registration/CreateOrEditRegistration">
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">@Klinik.Resources.UIMessages.PatientName</label>
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.Status)
                @Html.HiddenFor(x => x.CurrentPoliID)
                @if (((int)ViewBag.ActionType) == 0)
                {
                    <div class="col-md-4">
                        @Html.DatalistFor(x => x.PatientID, new PatientDataList { Url = "/Registration/AllPatient" })
                    </div>
                    if (@Model.CurrentPoliID == 1)
                    {
                        <div class="col-md-2">
                            <button type="reset" id="btnNewPatient" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;@Klinik.Resources.UIMessages.NewPatient</button>
                        </div>
                    }
                }
                else
                {
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.PatientName, new { @class = "form-control", @id = "tbPoliFrom", @readonly = "readonly" })
                    </div>
                }
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.PoliFrom
                </label>
                <div class="col-md-4">
                    @Html.HiddenFor(x => x.PoliFromID)
                    @Html.TextBoxFor(x => x.PoliFromName, new { @class = "form-control", @id = "tbPoliFrom", @readonly = "readonly" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.PoliTo
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(p => p.PoliToID, (IEnumerable<SelectListItem>)ViewBag.PoliList, new { @class = "form-control", @id = "ddlpolito" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.Doctor
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(p => p.DoctorID, (IEnumerable<SelectListItem>)ViewBag.DoctorList, new { @class = "form-control", @id = "ddldoctor" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.RegistrationType
                </label>
                <div class="col-md-4">
                    @Html.DropDownListFor(p => p.Type, (IEnumerable<SelectListItem>)ViewBag.RegistrationTypeList, new { @class = "form-control", @id = "ddltype" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="inputDefault">
                    @Klinik.Resources.UIMessages.Remark
                </label>
                <div class="col-md-4">
                    @Html.TextBoxFor(x => x.Remark, new { @class = "form-control", @id = "tbRemark" })
                </div>
            </div>
            <br />
            <footer class="panel-footer">
                <button type="submit" class="btn btn-primary">@Klinik.Resources.UIMessages.Save</button>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">@Klinik.Resources.UIMessages.BackToHome</button>
                <button type="reset" class="btn btn-danger" onclick="GoBack(@Model.CurrentPoliID)">@Klinik.Resources.UIMessages.Back</button>
            </footer>
        </form>
    </div>
</section>

@section Scripts {
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/MvcDatalist/mvc-datalist.js"></script>
    <script>
        [].forEach.call(document.getElementsByClassName('datalist'), function (element) {
            new MvcDatalist(element);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#ddlpolito').select2();
            $('#ddltype').select2();

            $("#ddlpolito").change(function () {
                $.get("/Registration/GetDoctorList", { PoliId: $("#ddlpolito").val() }, function (data) {
                $("#ddldoctor").empty();
                $.each(data, function (index, row) {
                    $("#ddldoctor").append('<option value="' + row.ID + '">' + row.Name + '</option>');
                });
            });
            });

            toastr.options = {
                "closeButton": false,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "0",
                "hideDuration": "0",
                "timeOut": "2000",
                "showMethod": "fadeIn"
            };

            var _temp="@ViewBag.Response";
            var _arrMsg = _temp.split(";");

            if (_arrMsg.length > 1) {
                if (_arrMsg[0] == "True") {
                    toastr.success(_arrMsg[1]);
                }
                else {
                    toastr.options.closeButton = true;
                    toastr.options.timeOut = 0;
                    toastr.error(_arrMsg[1]);
                }
            }
        });

        var GoBack = function (poliID) {
            if (poliID == 1) {
                window.location.href = "/Registration/Index";
            } else if (poliID == 2) {
                window.location.href = "/Registration/PoliUmum";
            } else if (poliID == 3) {
                window.location.href = "/Registration/PoliGigi";
            } else if (poliID == 4) {
                window.location.href = "/Registration/PoliPenyakitDalam";
            } else if (poliID == 5) {
                window.location.href = "/Registration/PoliKulit";
            } else if (poliID == 6) {
                window.location.href = "/Registration/PoliMata";
            } else if (poliID == 7) {
                window.location.href = "/Registration/PoliTHT";
            } else if (poliID == 8) {
                window.location.href = "/Registration/PoliAnak";
            } else if (poliID == 9) {
                window.location.href = "/Registration/PoliSyaraf";
            } else if (poliID == 10) {
                window.location.href = "/Registration/Radiologi";
            } else if (poliID == 11) {
                window.location.href = "/Registration/Laboratorium";
            } else if (poliID == 12) {
                window.location.href = "/Registration/Farmasi";
            } else if (poliID == 13) {
                window.location.href = "/Registration/RekamMedis";
            } else if (poliID == 14) {
                window.location.href = "/Registration/Kasir";
            }
        }
    </script>
}
