@model IEnumerable<Klinik.Entities.Form.FormExamineMedicineModel>

@{
	ViewBag.Title = "Prescription";
}

<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="#" class="fa fa-caret-down"></a>
		</div>
		<h5 class="panel-title">
			Prescription Validation
		</h5>
	</header>

	<div class="panel-body">
		<div style="width:100%; margin:0 auto">
			<table id="tbPrescription" class="table table-striped table-bordered dt-responsive" cellspacing="0">
				<thead>
					<tr>
						<th style="width:20px;">NO</th>
						<th>@Klinik.Resources.UIMessages.MedicineName</th>
						<th>@Klinik.Resources.UIMessages.Dose</th>
						<th style="width:30px;">@Klinik.Resources.UIMessages.Amount</th>
						<th>@Klinik.Resources.UIMessages.RemarkUse</th>
						<th>@Klinik.Resources.UIMessages.MedicineName</th>
						<th>@Klinik.Resources.UIMessages.Amount</th>
						<th>Note</th>
						<th>@Klinik.Resources.UIMessages.Process</th>
					</tr>
				</thead>
				<tbody>
					@{
						int counter = 1;
						foreach (var item in Model)
						{
							<tr>
								<td>@(counter++)</td>
								<td>@item.ProductName</td>
								<td>@item.Dose</td>
								<td>@item.Qty</td>
								<td>@item.RemarkUse</td>
								<td><input type="text" /></td>
								<td><input type="text" /></td>
								<td><input type="text" /></td>
								<td><button>Confirm</button></td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</section>

@section Scripts {
	<script src="~/Scripts/jquery-ui.js"></script>
	<script src="~/Scripts/MvcDatalist/mvc-datalist.js"></script>
	<script>
        [].forEach.call(document.getElementsByClassName('datalist'), function (element) {
            new MvcDatalist(element);
        });

        new MvcDatalist(document.querySelector('.datalist'), {
            events: {
                select: function (data, triggerChanges) {
                    for (var i = 0; i < data.length; i++) {
						var productName = document.getElementById("productName");
						if (productName != null) { productName.value = data[i].Name; }
                    }
                }
            }
        });
	</script>
}
